{{! aircraft_speed Tab }}

<section class='tab aircraft_speed {{tab.cssClass}}' data-group='primary' data-tab='aircraft_speed'>
  <div class="slidecontainer">
    <input type="range" class="aircraft-speed-slider" orient="vertical" min="-4" max="4" value="{{system.speed}}" id="myRange">
    <div>
      <p>Selected Change: <span class="slider-value-display">{{system.speed}}</span></p>
      <p>Current Speed: <span>{{system.curSpeed.value}}</span></p>
    </div>
  </div>

  <div class="maneuver-wrapper">
    <div class="maneuver-selection column">
      <div>
        <label for="maneuver">Choose Maneuver:</label>
        <select name="maneuver" id="maneuver" class="dropdown">
          {{#each (lookup config "maneuver") as |maneuver key|}}
          <option value="{{key}}">{{maneuver.name}}</option>
          {{/each}}
        </select> 
      </div>
      <div id="maneuverDetails">
        <p><strong>Name:</strong> <span id="maneuverName">No Maneuver</span></p>
        <p><strong>Difficulty:</strong> <span id="maneuverDiff">0</span></p>
        <p><strong>Pass Effect:</strong> <span id="maneuverPassEffect">Move 1/2 speed, turn up to turn rating, then repeat.</span></p>
        <p><strong>Fail Effect:</strong> <span id="maneuverFailEffect">Cannot Fail</span></p>
      </div>
    </div>

    <div>
      <img id="maneuverImage" class="maneuver-image" src="systems/air-mercs/assets/maneuvers/none.png">
    </div>
    <div>
      <button type="button" class="maneuver-button" onclick="prepPhaseReadyButton();">Prep Phase Ready!</button> 
    </div>
  </div>

</section>
