<section class='tab groundunit_features groundunit_actor {{tab.cssClass}}' data-group='primary' data-tab='groundunit_aaa_weapon'>
  <section class='grid grid-3col'>
    <aside class='sidebar'>
      {{! The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  }}
      <div class='flexcol align-left'>
        <div><b>{{localize 'AIR_MERCS.Actor.groundunit.FIELDS.hit.label'}} </b>{{system.aaa.hit}}+</div>
        <div><b>{{localize 'AIR_MERCS.Actor.groundunit.FIELDS.damage.label'}} </b>{{system.aaa.damage}}</div>
      </div>
    </aside>

    <aside class='sidebar'>
      <div class='flexcol align-left'>
        <div><b>{{localize 'AIR_MERCS.Actor.groundunit.FIELDS.weapon_type.label'}} </b>{{system.aaa.weapon_type}}</div>
        <div><b>{{localize 'AIR_MERCS.Actor.groundunit.FIELDS.range.label'}} </b>{{system.aaa.range}}</div>
      </div>
    </aside>

    <aside class='sidebar'>
      <div class='flexcol align-left'>
        <div><b>{{localize 'AIR_MERCS.Actor.groundunit.FIELDS.fire_control.label'}} </b>{{system.aaa.fire_control}}</div>
        <div><b>{{localize 'AIR_MERCS.Actor.groundunit.FIELDS.optical-backup.label'}} </b>{{#if system.aaa.traits.optical-backup}}Yes{{else}}No{{/if}}</div>
      </div>
    </aside>

    <aside class="flexcol align-center" style="margin: 0 auto; width: 100px">
      <button type="button" class="groundaaaResolve-button" data-action="resolvegroundaaaattack">Open Fire!</button>
    </aside>
    <aside class="flexcol align-center" style="margin: 0 auto; width: 100px">
      <button type="button" class="groundunitdigin-button" data-action="groundunitdigin">Dig In</button>
    </aside>
  </section>
</section>