{{! Sheet Header }}
<header class='sheet-header item'>
  <img
    class='profile-img'
    src='{{actor.img}}'
    data-edit='img'
    data-action='onEditImage'
    title='{{actor.name}}'
    height='100'
    width='100'
  />
  <div class='header-fields'>
    <div class='document-name'>
      <input
        name='name'
        type='text'
        value='{{actor.name}}'
        placeholder='Name'
      />
    </div>
    {{! The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  }}
    <div class='resources grid grid-8col'>

      {{! "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. }}
      <div class='resource flex-group-center'>
        <label for='system.guidance' class='resource-label'>
          {{localize 'AIR_MERCS.Actor.base.FIELDS.guidance'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input
            type='text'
            disabled='true'
            name='system.guidance'
            value='{{#if system.sam}}{{system.sam.guidance}}{{else}}{{system.guidance}}{{/if}}'
            data-dtype='String'
          />
        </div>
      </div>

      <div class='resource flex-group-center'>
        <label for='system.aspect' class='resource-label'>
          {{localize 'AIR_MERCS.Actor.base.FIELDS.aspect'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input
            disabled='true'
            type='text'
            name='system.aspect'
            value='{{#if system.sam}}{{system.sam.aspect}}{{else}}{{system.aspect}}{{/if}}'
            data-dtype='String'
          />
        </div>
      </div>

      <div class='resource flex-group-center'>
        <label for='system.lock' 
          class='resource-label'
          data-action='roll'
          data-roll='d10'
          data-label={{localize 'AIR_MERCS.Actor.base.FIELDS.lock'}}
          >{{localize 'AIR_MERCS.Actor.base.FIELDS.lock'}}</label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input
            disabled='true'
            type='text'
            name='system.lock'
            value='{{#if system.sam}}{{system.sam.lock}}+{{else}}{{system.lock}}+{{/if}}'
            data-dtype='String'
          />
        </div>
      </div>

      <div class='resource flex-group-center'>
        <label for='system.minRange' class='resource-label'>
          {{localize 'AIR_MERCS.Actor.base.FIELDS.minRange'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input
            disabled='true'
            type='text'
            name='system.minRange'
            value='{{system.minRange}}'
            data-dtype='Number'
          />
        </div>
      </div>

      <div class='resource flex-group-center'>
        <label for='system.maxRange' class='resource-label'>
          {{localize 'AIR_MERCS.Actor.base.FIELDS.maxRange'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input
            disabled='true'
            type='text'
            name='system.maxRange'
            value='{{#if system.sam}}{{system.sam.range}}{{else}}{{system.maxRange}}{{/if}}'
            data-dtype='Number'
          />
        </div>
      </div>

      <div class='resource flex-group-center'>
        <label for='system.hit' 
          class='resource-label'
          data-action='roll'
          data-roll='d10'
          data-label={{localize 'AIR_MERCS.Actor.base.FIELDS.hit'}}
          >{{localize 'AIR_MERCS.Actor.base.FIELDS.hit'}}</label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input
            disabled='true'
            type='text'
            name='system.hit'
            value='{{#if system.sam}}{{system.sam.hit}}+{{else}}{{system.hit}}+{{/if}}'
            data-dtype='Number'
          />
        </div>
      </div>

      <div class='resource flex-group-center'>
        <label for='system.damage' 
          class='resource-label'
          data-action='roll'
          data-roll='{{system.damage}}'
          data-label={{localize 'AIR_MERCS.Actor.base.FIELDS.damage'}}
          >{{localize 'AIR_MERCS.Actor.base.FIELDS.damage'}}</label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input
            disabled='true'
            type='text'
            name='system.damage'
            value='{{#if system.sam}}{{system.sam.damage}}+{{else}}{{system.damage}}+{{/if}}'
            data-dtype='String'
          />
        </div>
      </div>

            <div class='resource flex-group-center'>
        <label for='system.load' class='resource-label'>
          {{localize 'AIR_MERCS.Actor.base.FIELDS.capacity'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input
            disabled='true'
            type='text'
            name='system.load'
            value='{{system.load}}'
            data-dtype='Number'
          />
        </div>
      </div>
    </div>
  </div>
</header>