<div class='item flexrow' data-item-id='{{id}}' data-drag='true' data-document-class='Item'>
    <div class='item-image item-sheet-image'>
        <img src='systems/air-mercs/assets/missiles/r27ea.png' width='100' height='35'/>
    </div>
    <div class='item-name'>Name: {{system.name}}</div>
    <div>
        <button type='button' class='jettison-button' data-action='jettisonButton'>JETTISON</button>
    </div>
</div>

<!-- {{item.type}}{{item.guidance}}{{item.aspect}}{{item.lock}}{{item.minRange}}{{item.maxRange}}{{item.hit}}{{item.damage}}{{item.load}}
}} -->