<div class='item flexrow' data-item-id='{{id}}' data-drag='true' data-document-class='Item' data-action='weaponPrep'>


    <div class='item-image item-sheet-image'>
        <img src='systems/air-mercs/assets/missiles/{{system.img}}.png' width='130' height='100%'/>
    </div>

    <div class='missile-name'>
        <b>{{system.name}}</b>
    </div>

    <div class="center-content">
        <div class="flexrow">
            <div class="row-guidance"><b>Guidance:</b> {{system.guidance}}</div>
            <div class="row-range"><b>Min Range: </b>{{system.minRange}}</div>
            <div class="row-damage"><b>Damage: </b>{{system.damage}}</div>
            <div class="row-hit"><b>Hit: </b>{{system.hit}}+</div>
        </div>
        <div class="flexrow">
            <div class="row-aspect"><b>Aspect: </b>{{system.aspect}}</div>
            <div class="row-range"><b>Max Range: </b>{{system.maxRange}}</div>
            <div class="row-lock">
                <b>Lock:</b>
                {{#if (eq system.lock 'radar')}}
                <span style="text-transform:capitalize">{{this.actor.system.radar.value}}+</span>
                {{else}}
                {{system.lock}}+
                {{/if}}
            </div>
            <div class="row-load"><b>Load: </b>{{system.load}}</div>
        </div>
    </div>
    <div class='weapon-button-select flex0'>
        <button type='button' class='jettison-button' data-action='jettisonButton'><b>JETT</b></button>
    </div>
</div>
